$blue: #007bff;
$blue-hover: #2563eb;
$blue-dark: #0056b3;
$green: #018643;
$green-hover: #036a0c;
$green-dark: #016131;
$yellow: #fec72f;
$yellow-hover: #d7aa2c;
$grey: #ccc;
$grey-hover: #e0e0e0;
$grey-light: #f8f9fa;
$white: #fff;
$black: #111827;
$font-color: #0a0a0a;
$font-color-light: #efefef;
$border: #d1d5db;
$red-delete: #d22e2e;
$red-delete-hover: #cc4a4a;
$black-shadow: #00000024;
